
@{
    ViewData["Title"] = "pharmacogenomics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title text-center" style="background-image: url(../images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Pharmacogenomics</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href=@Url.Action("Index", "Home" )>home &nbsp;/</a>
                </li>
                <li>Pharmacogenomics</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<section class="service-overview section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="content-block">
                    <h2>Pharmacogenomics</h2>
                    <ul>
                        <li><i class="fas fa-caret-right"></i>A new way to cure – Personalised medicine</li>
                    </ul>
                    <p>
                        Does a drug not working on you for long? The reason can be hidden in your genes. Choose the right drug based on your genes to unlock the potential of Pharmacogenomics. It is a new field of science that studies the role of genes in drug response. This field combines pharmacology (the science of drugs) and genomics (the study of genes and their functions) to develop effective, safe medications and doses that will be tailored to a person’s genetic makeup. With the use of pharmacogenomics testing, it is hoped that pharmaceutical drug treatments can deviate from the “one-dose-fits-all” approach to personalized medication approach.
                    </p>
                    <a href=@Url.Action("Appointment", "Home") class="btn btn-style-one">Appoint</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion-section">
                    <div class="accordion-holder">
                        <div class="accordion" id="accordionGroup" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h4 class="card-title">
                                        <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What Do We Do
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionGroup">
                                    <div class="card-body">
                                        Our Health Genomics is one of the most unique panels devised to optimize the overall health and wellness of people using gene-based personalized nutrition. The Health Genomics tests 180 crucial genes involved in the biological processes associated directly or indirectly with the onset of chronic diseases. This includes genes of the enzymes and biological component playing the role as a key factor in cholesterol metabolism, methylation, detoxification, oxidative stress, inflammation, insulin resistance, bone health, and iron metabolism respectively.

                                        The results obtained from the test panel will help in providing you a detailed personalized recommendation which will include the following:

                                        A gene-based personalized nutrition plan
                                        Dietary goals for relevant vitamins, minerals, phytochemicals, and foods
                                        Requirements for nutritional supplementation, where required
                                        A rigorous selection process is utilized when selecting genes for the test; only the most scientifically relevant genes are considered, and only those where a lifestyle intervention can modify the effect of the gene, are included. As research into the metabolic areas continues, and the body of evidence supporting the role of additional genes in the disease process is developed, new genes will continue to be added to the test.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h4 class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo"
                                           aria-expanded="false" aria-controls="collapseTwo">
                                            Doctors Opinion
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionGroup">
                                    <div class="card-body">
                                        The test is aimed at patients who might have a predisposition to lifestyle diseases due to the presence of one or more genetic risk factors. Identifying both favourable and less favourable gene variants, the test aims to maximize human health and wellbeing, by enabling you to make well-informed dietary and lifestyle choices.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h4 class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree"
                                           aria-expanded="false" aria-controls="collapseThree">
                                            Our Experts
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionGroup">
                                    <div class="card-body">
                                        Genetic Healing is one of the pioneer companies in India, working to makes lives better using genes based personalised nutrition. The main backbone of our high end services is the expert team we house. With years of experience in the field of Nutrigenomics, our experts – 180Dr. Geeta Dharmatti and Dr. R.D. Dixit are guiding the path to provide robust health and wellness services across the country.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <h4 class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour"
                                           aria-expanded="false" aria-controls="collapseFour">
                                            How Does It Work
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionGroup">
                                    <div class="card-body">
                                        Our genetic test involves a simple saliva or blood test. For this, you can choose to either visit our center or share your address with us to undertake doorstep delivery of the sample collection kits. The sample collection process is very easy; you just need to follow the basic steps mentioned on the kit. Once the sample is collected it is taken back to our lab and processed further. The results take a few weeks after which a detailed genetic report is prepared by our team. The report explains your diet plan and lifestyle modifications, which are followed by counselling by our experts.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section pt-0">
    <div class="container service-box">
        <div class="row">
            <div class="col-lg-6">
                <img loading="lazy" class="img-fluid" src="~/images/services/service-two.jpg" alt="service-image">
            </div>
            <div class="col-lg-6">
                <div class="contents">
                    <div class="section-title">
                        <h3>Why Nutrigenomics is best?</h3>
                    </div>
                    <div class="text">
                        <p>
                            With a variety of diets and health tips available in the market, you never know what else can become a new normal. However, the only thing which does not change is your genetic information. Knowing how your genes play an important role underlying biological mechanisms can help you know about the right vitamin, nutrition, and food to take. Nutrigenomic based personalized diet and exercise plan helps you build unfold the new you.
                        </p>
                    </div>
                    @*<ul class="content-list">
                            <li>
                                <i class="far fa-check-circle"></i>Whitening is among the most popular dental
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>Teeth cleaning is part of oral hygiene and involves
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>Teeth cleaning is part of oral hygiene and involves
                            </li>
                        </ul>*@
                    @*<a href="service.html" class="btn btn-style-one">Read more</a>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section bg-gray section">
    <div class="container">
        <div class="section-title text-center">
            <h3>
                Provided
                <span>Services</span>
            </h3>
            <p>
                Simplifying healthy lifestyle combining nutrition and genomics<br>
                Unlock the hidden potential in your genes to make success real<br>
                A new way to cure – Personalised medicine
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="items-container">
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href=@Url.Action("Nutrigenomics", "Home" )>
                                    <img loading="lazy" src="/images/gallery/Nutrigenomics-Market.png" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <a href=@Url.Action("Nutrigenomics", "Home" )>
                                    <h6>Health Genomics</h6>
                                </a>
                                <p>Management of lifestyle diseases, mapping of disease tendencies (diabetes, cardiac diseases, inflammatory conditions …) and preventive health management.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href=@Url.Action("Nutrigenomics", "Home" )>
                                    <img loading="lazy" src="~/images/gallery/weight-managment.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <a href=@Url.Action("Nutrigenomics", "Home" )>
                                    <h6>Slim Genomics</h6>
                                </a>
                                <p>Gene based personalized Diet, Exercise and Behavior modification for achieving weight loss. Mapping of weight loss and weight regain tendency for weight management.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="~/images/gallery/psychiatry.jpeg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <a href="service.html">
                                    <h6>Psychiatry Support</h6>
                                </a>
                                <p>Mutations covered: Major mutations (>20 in basics and > 40 in Plus) relevant to Psychiatry medications are screened under this panel. PSYCHIATRY PGx brings in personalized medicine...</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="~/images/gallery/estrogen.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <a href="service.html">
                                    <h6>PCOS Genomics</h6>
                                </a>
                                <p>Management of lifestyle diseases, mapping of disease tendencies (diabetes, cardiac diseases, inflammatory conditions …) and preventive health management.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="~/images/gallery/methylation.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <a href="service.html">
                                    <h6>Methylation</h6>
                                </a>
                                <p>Maps and manages genetic bases of vitamin B deficiencies (B6, B9, B12) and associated health issues (cardiac, infertility, abortions, anaemia, anxiety …).</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="~/images/gallery/fertility.png" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <a href="service.html">
                                    <h6>Fertility Support</h6>
                                </a>
                                <p>Fertility Support is pharmacogenomic testing panel which screens important genes which are associated with overall Ovarian response. It includes suggestions on use of...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Section-->
